extends template/inner-page

block page-main
    main.page-main-inner.container
        h1 Расписание
        nav.breadcrumbs.page-main-inner__breadcrumbs
            a.breadcrumbs__item(href='/') Главная
            a.breadcrumbs__item Расписание
        section.schedule
            each sheduleByType in scheduleChunkByType
                ul.schedule__filter-list
                    each item in sheduleByType.schedule
                        li.schedule__filter-item
                            label.checkbox-my(data-id=`${item.id}`)
                                input.visually-hidden(type='checkbox', name='bodyflex' checked)
                                span.checkbox-my__border
                                span.checkbox-my__marker.checkbox-my__marker--square(style=`background-color: ${item.color}`)
                                | !{item.title + " "}
                                time.schedule__filter-time
                                    | с !{item.startday} по !{item.finishday}
                table.schedule__table
                    thead
                        tr.schedule__row
                            td
                            td пн
                            td вт
                            td ср
                            td чт
                            td пт
                            td сб
                            td вс
                    tbody
                        each row in sheduleByType.items
                            tr.schedule__row
                                td= row.tmlst_title
                                if row.mon
                                    td.schedule__mark(data-id=`${row.mon}`)
                                        span(style=`background-color: ${sheduleByType.colors[row.mon]}`)
                                else
                                    td
                                if row.tue
                                    td.schedule__mark(data-id=`${row.tue}`)
                                        span(style=`background-color: ${sheduleByType.colors[row.tue]}`)
                                else
                                    td
                                if row.wed
                                    td.schedule__mark(data-id=`${row.wed}`)
                                        span(style=`background-color: ${sheduleByType.colors[row.wed]}`)
                                else
                                    td
                                if row.thu
                                    td.schedule__mark(data-id=`${row.thu}`)
                                        span(style=`background-color: ${sheduleByType.colors[row.thu]}`)
                                else
                                    td
                                if row.fri
                                    td.schedule__mark(data-id=`${row.fri}`)
                                        span(style=`background-color: ${sheduleByType.colors[row.fri]}`)
                                else
                                    td
                                if row.sut
                                    td.schedule__mark(data-id=`${row.sut}`)
                                        span(style=`background-color: ${sheduleByType.colors[row.sut]}`)
                                else
                                    td
                                if row.sun
                                    td.schedule__mark(data-id=`${row.sun}`)
                                        span(style=`background-color: ${sheduleByType.colors[row.sun]}`)
                                else
                                    td
