thead
    tr.order__head
        td наименование
        td стоимость
        td количество
    tbody
        each row in item
            tr.order__item
                if row.product.properties.length
                    td= `${row.product.title} (${row.product.properties.map(item => item.description).join(', ')})`
                else
                    td= `${row.product.title}`
                td= `${row.product.price * row.count} р`
                td= row.count
